<!DOCTYPE html>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<html lang="{{ page.lang | default: site.lang | default: 'en' }}">


  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%}

    {%- include sub-footer.html -%} -->

  </body>

</html>

          <!-- 
<ul> <li><a href="/comp455/index.html">Home</a></li> 
          <li><a href="/comp455/syllabus">Syllabus</a></li>
         <li><a href="/comp283/lecture-notes">Lecture Notes</a></li>
          
        </ul> -->

